@media(max-width: 1150px){
    .conteudo{
        width: 70%;
    }
    h1{
        font-size: 2rem;
    }
    .z-principal{
        margin: 0.6rem;
    }
    p{
        padding: 0 1rem;
        margin: 2rem;
        font-size: 1.5rem;
    }
}

@media(max-width: 950px){
    .conteudo{
        width: 70%;
    }
    h1{
        font-size: 3rem;
    }
    .z-principal{
        margin: 0.6rem;
        width: 17rem;
        height: 13rem;
    }
    p{
        padding: 0 1rem;
        margin: 2rem;
        font-size: 1.5rem;
    }
}

@media(max-width: 800px){
    h1{
        font-size: 2rem;
    }
    .z-principal{
        margin: 0.6rem;
        width: 16rem;
        height: 10rem;
    }
    
    p{
        padding: 0 1rem;
        margin: 3.2rem;
        font-size: 1.5rem;
    }
    .p-iniciar{
        margin: 0px;
    }
}

@media(max-width: 650px){
    
    .conteudo{
        width: 70%;
    }
    h1{
        font-size: 2rem;
    }
    .z-principal{
        margin: 0.6rem;
        width: 16rem;
        height: 9rem;
    }
    p{
        padding: 0rem;
        margin: 2rem;
        font-size: 1.5rem;
    }
}
@media(max-width: 450px){
    
    .conteudo{
        width: 80%;
    }
    h1{
        font-size: 1.5rem;
    }
    .z-principal{
        margin: 0.6rem;
        width: 13rem;
        height: 9rem;
    }
    p{
        padding: 0rem;
        margin: 2rem;
        font-size: 1.3rem;
    }
    .start{
        margin-top: 5rem;
    }
    .start, .back{
        font-size: 1.3rem;
    }
    
}